[submodule ".otras-configuraciones/.otras-configuraciones/configs"]
	path = .otras-configuraciones/.otras-configuraciones/configs
	url = https://github.com/nschurmann/configs
[submodule ".otras-configuraciones/nschurmann"]
	path = .otras-configuraciones/nschurmann
	url = https://github.com/nschurmann/configs
[submodule ".otras-configuraciones/neovim-config"]
	path = .otras-configuraciones/neovim-config
	url = https://github.com/JAlejandroMarin/neovim-config
[submodule ".otras-configuraciones/.tmux"]
	path = .otras-configuraciones/.tmux
	url = https://github.com/gpakosz/.tmux
[submodule ".otras-configuraciones/astro"]
	path = .otras-configuraciones/astro
	url = https://github.com/JAlejandroMarin/neovim-config
[submodule ".otras-configuraciones/ThePrimeagen"]
	path = .otras-configuraciones/ThePrimeagen
	url = https://github.com/ThePrimeagen/.dotfiles
